---
import Layout from "../layouts/Layout.astro"
---
<Layout title="About">
  <section>
    <h1>¿Quienes somos?</h1>
    <p>
      Somos un grupo de expertos en ciberseguridad que busca compartir conocimiento y ayudar a la comunidad a protegerse de los ciberataques.
      y ayudar a la comunidad a protegerse de los ciberataques.
    </p>
  </section>
</Layout>

<style>
  section {
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
</style>