---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Contactanos">
  <section>
    <h1>
      Contactanos
    </h1>
    <p>
      Si tienes alguna duda o comentario, no dudes en contactarnos.
      te responderemos a la brevedad posible.
      Tenemos unimero de contacto para poder platicar contigo.
    </p>
  </section>
</Layout>

<style>
    section {
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
</style>