---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<section>
		<h1>
			Te damos la bienvenida a la p치gina de Ciberseguridad
			en donde pordr치s encontrar informaci칩n relevante sobre el tema.
			y aprender sobre las mejores pr치cticas para proteger tus datos.
		</h1>
	</section>
</Layout>

<style>
    section {
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
</style>
