---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <section>
    <h2>Monitoreo del Contenido</h2>
    <p>
      Supervisar el contenido que los niños consumen en redes sociales es
      esencial para reducir el riesgo de exposición a información inapropiada o
      peligrosa. A continuación, algunos métodos para realizar esta tarea de
      manera efectiva:
    </p>
    <p>
      <b>Herramientas de Control Parental:</b>Utiliza las funciones de control
      parental disponibles en la mayoría de las redes sociales, lo cual permite
      bloquear contenido no apto y supervisar el uso de la red.
    </p>
    <p>
      <b>Filtros de Contenido:</b>Instala aplicaciones de filtro en los
      dispositivos de los niños para limitar el acceso a temas sensibles.
    </p>
    <p>
      <b>Establecimiento de Límites de Tiempo:</b>Limita el tiempo de uso diario
      para evitar el exceso de exposición y permite que el niño tenga
      actividades recreativas fuera de línea.
    </p>
    <p>
      <b>Revisión de Historias y Amigos:</b>Supervisa las historias,
      publicaciones y la lista de amigos de los niños, promoviendo una
      comunicación abierta sobre sus interacciones en línea.
    </p>
  </section>
</Layout>

<style>
  section {
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
</style>
