---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

const imgPrivacidad = "/public/privacidad.jpeg";
---

<Layout title="Configuración de Privacidad">
  <section>
    <article>
      <h2>Configuración de Privacidad</h2>
      <p>
        Es fundamental que los perfiles de los niños en redes sociales estén
        configurados con la máxima privacidad posible para proteger su
        información personal. Algunos consejos clave para padres y educadores
        incluyen:
      </p>
      <p>
        <b>Revisión de Configuración de Privacidad:</b> Configura los perfiles de
        los niños para que solo amigos o contactos aprobados puedan ver sus publicaciones,
        comentarios y fotos.
      </p>
      <p>
        <b>Control de Información Personal:</b> Evita que el niño comparta datos
        personales como dirección, número de teléfono, ubicación, o información de
        la escuela.
      </p>
      <p>
        <b>Uso de Cuentas Privadas:</b> Establece cuentas privadas en redes sociales,
        lo que limita el acceso de desconocidos y reduce el riesgo de contacto no
        deseado.
      </p>
      <p>
        <b>Revisión Periódica de Configuración:</b> Revisa y actualiza periódicamente
        la configuración de privacidad, ya que las redes sociales suelen cambiar
        sus políticas y opciones de seguridad.
      </p>
    </article>
    <picture>
      <Image
        class="seguridad"
        src={imgPrivacidad}
        alt="Seguridad"
        width="350"
        height="300"
      />
    </picture>
  </section>
</Layout>

<style>
  section {
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  picture {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .seguridad {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    section {
      display: flex;
    }
    article,
    picture {
      width: 50%;
    }
  }
</style>
