---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Creación de Hábitos Saludables">
  <section>
    <h2>Creación de Hábitos Saludables</h2>
    <p>
      Crear hábitos de uso saludable de las redes sociales ayuda a los niños a
      gestionar mejor su tiempo y a ser conscientes del impacto de la tecnología
      en su bienestar. Algunos consejos prácticos incluyen:
    </p>
    <p>
      <b>Establecer un Horario de Uso:</b> Define horarios específicos para el uso
      de redes sociales, reservando tiempo para otras actividades, como deporte,
      lectura, y tiempo en familia.
    </p>
    <p>
      <b>Promover el Pensamiento Crítico:</b> Anima a los niños a cuestionar la información
      que ven en redes sociales y a evitar compararse con otros.
    </p>
    <p>
      <b>Prácticas de Desconexión:</b> Establece 'momentos sin pantallas' en casa,
      como en las comidas o antes de dormir.
    </p>
    <p>
      <b>Conversaciones Abiertas:</b> Fomenta el diálogo sobre el contenido que ven
      en redes sociales, así como sus sentimientos respecto a sus experiencias en
      línea.
    </p>
  </section>
</Layout>

<style>
  section {
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
</style>
