---

---

<header>
  <h1>Ciberseguridad</h1>
  <nav>
    <a href="/">Inicio</a>
    <a href="/privacidad">Privacidad</a>
    <a href="/monitoreo">Monitoreo</a>
    <a href="/seguridad">Seguridad en Línea</a>
    <a href="/saludables">Hábitos Saludables</a>
    <a href="/estructura">Estructura</a>
  </nav>
</header>

<style>
  h1 {
    margin-top: 0;
    font-weight: 500;
    font-size: 35px;
  }
  header {
    color: white;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #8252a1;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  }
  nav a {
    color: white;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    margin-left: 1rem;
    margin-bottom: 8px;
  }
  @media screen and (min-width: 768px) {
    h1 {
      margin: auto 0 auto 0;
    }
    header {
      display: flex;
      justify-content: space-between;
    }
    nav a {
      display: inline-block;
      margin: 5px;
      margin-left: 1rem;
    }
  }
</style>
